<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{fragments/head :: head ('Escribir Reseña')}"></head>
<body class="d-flex flex-column h-100 bg-light">
<header th:replace="~{fragments/header :: header}"></header>

<main class="container mt-5">
    <div class="card shadow col-md-6 mx-auto">
        <div class="card-body">
            <h3>Escribir Opinión</h3>
            <form th:action="@{${resena.id == null} ? '/resenas/save' : '/resenas/update'}" th:object="${resena}" method="post">
                <input type="hidden" th:field="*{id}">

                <div class="mb-3">
                    <label>Autor</label>
                    <select class="form-select" th:field="*{villano}">
                        <option th:each="v : ${allVillanos}" th:value="${v.id}" th:text="${v.alias}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label>Guarida Visitada</label>
                    <select class="form-select" th:field="*{guarida}">
                        <option th:each="g : ${allGuaridas}" th:value="${g.id}" th:text="${g.nombre}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label>Puntuación (1-5)</label>
                    <input type="number" min="1" max="5" class="form-control" th:field="*{puntuacion}" required>
                </div>
                <div class="mb-3">
                    <label>Comentario</label>
                    <textarea class="form-control" rows="4" th:field="*{comentario}"></textarea>
                </div>
                <div class="mb-3">
                    <label>Fecha</label>
                    <input type="date" class="form-control" th:field="*{fechaPublicacion}">
                </div>

                <button type="submit" class="btn btn-primary w-100">Publicar</button>
            </form>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>