<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{fragments/head :: head ('Formulario Villano')}"></head>
<body class="d-flex flex-column h-100 bg-light">
<header th:replace="~{fragments/header :: header}"></header>

<main class="container mt-5">
    <div class="card shadow col-md-6 mx-auto">
        <div class="card-header bg-dark text-white">
            <h3 class="mb-0" th:text="${villano.id == null ? 'Nuevo Villano' : 'Editar Villano'}">Villano</h3>
        </div>
        <div class="card-body">
            <form th:action="@{${villano.id == null} ? '/villanos/save' : '/villanos/update'}" th:object="${villano}" method="post">
                <input type="hidden" th:field="*{id}">

                <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

                <div class="mb-3">
                    <label class="form-label">Nombre Real</label>
                    <input type="text" class="form-control" th:field="*{nombre}" required>
                    <small class="text-danger" th:errors="*{nombre}"></small>
                </div>
                <div class="mb-3">
                    <label class="form-label">Alias de Supervillano</label>
                    <input type="text" class="form-control" th:field="*{alias}" required>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">Carnet (V-000)</label>
                        <input type="text" class="form-control" th:field="*{carnetDeVillano}" required>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" th:field="*{email}" required>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary w-100">Guardar Ficha</button>
            </form>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>