<footer th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml" class="text-light py-4 fixed-bottom"
        style="width: 80%; margin: 0 auto;
               box-shadow: 0 -4px 6px rgba(0,0,0,0.3);
               border-radius: 15px 15px 0 0;">
    <div class="container text-center">
        <p class="mb-0" style="text-shadow: 1px 1px 2px #000;">
            &copy; <span th:text="#{msg.footer}">2025 BnBillains - Plataforma de Alquiler de Guaridas. Todos los derechos malignos reservados.</span>
        </p>
    </div>
</footer>

