<footer th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml" class="text-light py-4 fixed-bottom"
        style="width: 80%; margin: 0 auto;
               background: linear-gradient(to right,
                                           #ff0000 0%,
                                           #ff4d4d 25%,
                                           #ff9999 50%,
                                           #ffe6e6 75%,
                                           #ffffff 100%);
               box-shadow: 0 -4px 6px rgba(0,0,0,0.3);
               border-radius: 15px 15px 0 0;">
    <div class="container text-center">
        <p class="mb-0" style="text-shadow: 1px 1px 2px #000;">&copy; <span th:text="#{msg.footer}"></span></p>
    </div>
</footer>

