<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{fragments/head :: head ('Reseñas')}"></head>
<body class="d-flex flex-column h-100 bg-light">
<header th:replace="~{fragments/header :: header}"></header>

<main class="container mt-4">
    <div class="d-flex justify-content-between mb-4">
        <h2>Opiniones de Clientes</h2>
        <a th:href="@{/resenas/new}" class="btn btn-success">+ Nueva Reseña</a>
    </div>

    <div class="mb-3">
        <a th:href="@{/resenas(puntuacion=5)}" class="btn btn-outline-warning">★★★★★</a>
        <a th:href="@{/resenas(puntuacion=1)}" class="btn btn-outline-danger">★ (Quejas)</a>
        <a th:href="@{/resenas}" class="btn btn-outline-secondary">Ver Todas</a>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3" th:each="r : ${resenas}">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title text-primary" th:text="${r.villano.alias}">Autor</h5>
                        <small class="text-muted" th:text="${r.fechaPublicacion}">Fecha</small>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="'Sobre: ' + ${r.guarida.nombre}">Guarida</h6>

                    <div class="text-warning mb-2 fs-5">
                        <span th:text="${r.puntuacion}">5</span>/5 ★
                    </div>

                    <p class="card-text fst-italic">"<span th:text="${r.comentario}"></span>"</p>

                    <div class="text-end">
                        <a th:href="@{/resenas/{id}/edit(id=${r.id})}" class="btn btn-sm btn-link">Editar</a>
                        <a th:href="@{/resenas/delete/{id}(id=${r.id})}" class="text-danger btn btn-sm btn-link">Borrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>